/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}
.content-wrap { width:70%; margin:3em auto; }

/* visual styles */
body{
    margin:0;
    font-family: "Cormorant Garamond", Garamond, Times, Times New Roman, serif;
    font-size:1.75rem;
    line-height:2.5rem;
	color:#ffffff;
    text-align:center;
}
section {
	background:#37748E;
    overflow:hidden;
    box-shadow: inset 0px 100px 120px -100px rgba(0, 0, 0, 0.25);
}
.not-fullscreen {
    min-height:50%;
}

h1, h2, h3, h4, h5, h6 { font-weight:normal; }
h2 { font-size:5rem; }

.video-wrapper { width:65%; margin:0px auto; 
    max-height:60vh;
    max-width:65vw;}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* section styles */
section:nth-child(1) { box-shadow:0px 0px 0px 0px; background-position:center center; }
section:nth-child(1) h1 { font-size:15rem; text-shadow:2px 2px 7px rgba(0,0,0,0.5); }
section:nth-child(1) h1 span { font-size:.6em; position:relative; top:-0.15em; }
section:nth-child(1) h3 { font-size:2rem; font-style: italic; padding-top:2em; opacity:0.7 }

section:nth-child(3) {
    background:
        linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.35),rgba(0,0,0,0.75)
    ), url('http://source.unsplash.com/gG6yehL64fo/1600x900');
}